.bundle
.idea
.project
.sass-cache
.tags

.~lock.*
*.*~

Gemfile.lock.tags

/tags

/db/*.sqlite3
/log/*
/tmp/*

!/log/.keep
!/tmp/.keep

.env.local

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/config/credentials/development.key

/config/credentials/test.key

/config/credentials/production.key

__pycache__