development:
  adapter: postgresql
  encoding: unicode
  database: opencourts_development
  pool: 25
  username: opencourts
  password: opencourts

test:
  adapter: postgresql
  encoding: unicode
  database: opencourts_test
  pool: 25
  username: opencourts
  password: opencourts

production:
  adapter: postgresql
  encoding: unicode
  database: opencourts_production
  pool: 25
  username: opencourts
  password: opencourts
