@mixin animation($name, $time, $delay) {
  -webkit-animation: $name $time;
  animation: $name $time;

  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
    0% { opacity: 0; }
  100% { opacity: 1; }
}
