html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
  margin: 0px;
}

.jumbotron {
  @include linear-gradient(60deg, darken($base-color, 30%), lighten($base-color, 10%));

  height: 100%;
  min-height: 720px;
  padding: 0px;
  position: relative;
}

.pattern {
  height: 100%;
  background-image: image-url('cube.png');
  background-attachment: scroll;
  background-color: transparent;
  background-position: center center;
  background-repeat: repeat;
  padding-top: 20px;
}

.logo {
  img {
    @include transition(all 0.8s ease);

    height: $font-size-h1;
    opacity: 0.3;

    &:hover {
      opacity: 1.0;
    }
  }
}

ul.locales {
  li a {
    @include transition(all 0.8s ease);

    font-size: $font-size-h5;
    color: white;
    font-weight: 300;
    opacity: 0.3;

    &:hover, &.active, &:active {
      opacity: 1.0;
      color: white;
      text-decoration: none;
    }
  }
}

.headline {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  height: 100%;

  .title {
    @include animation(fade-in-down, 0.8s, 0s);

    color: white !important;
    letter-spacing: -1.5px;

    font-size: ceil((1.25 * $font-size-h1));
  }

  .description {
    @include animation(fade-in-down, 1.1s, 0s);

    color: #979797;
    margin-bottom: 50px;
    font-size: ceil((0.75 * $font-size-h1));
    letter-spacing: -0.75px;
  }

  #see-invite {
    @include animation(fade-in-up, 1.1s, 0s);
  }

  .invite-created {
    color: white;
  }
}

.invite-form {
  input {
    border-color: lighten($base-color, 5%);

    &.active, &:focus, &:active {
      border-color: lighten($base-color, 5%);
    }

    &.error {
      color: $brand-danger;
      border-color: lighten($brand-danger, 5%);
    }
  }

  .btn {
    border-color: lighten($base-color, 10%);
    background-color: lighten($base-color, 10%);
    color: white;
    font-weight: 400;

    &:hover {
      border-color: lighten($base-color, 7.5%);
      background-color: lighten($base-color, 7.5%);
    }

    &:active {
      border-color: lighten($base-color, 5%);
      background-color: lighten($base-color, 5%);
    }
  }
}

.invite-created {
  @include animation(fade-in-down, 1.1s, 0s);

  opacity: 1.0;
  text-align: center;
}

#see-more {
  @include animation(fade-in-up, 3s, 0s);
  @include transition(all 0.5s ease);
  @extend .text-center;

  position: absolute;
  bottom: 50px;
  left: 50%;
  font-size: $font-size-h5;
  color: $gray-light;
  width: 140px;
  margin-left: -70px;
  padding: 0px;

  &:hover, &.active, &:focus {
    color: $gray-lighter;
    text-decoration: none;
  }
}

section {
  margin-bottom: 75px;
}

.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h1, h2, h3 {
    small {
      font-weight: $headings-font-weight;
      color: $gray-light;
    }
  }

  .testimonial {
    margin-top: 50px;
    text-align: left;

    .feature-icon {
      text-align: center;

      i {
        font-size: $font-size-h2 * 4.15;
      }
    }

    font-size: $font-size-h5;
    margin-bottom: 50px;
  }

  .partner {
    @extend .text-center;

    display: block;
    height: 7.5rem;
    margin: 2 * $spacer-y 0 2 * $spacer-y;

    img {
      max-width: 100%;
      max-height: 100%;

      @include grayscale;
      @include highlight(.33s);
      @include hover-focus-active { @include unfilter }
    }

    .transparency-international {
      margin-top: 0rem;
    }

    .index-podnikatela {
      margin-top: 1.75rem;
    }
  }
}

footer {
  @extend .text-center;
  @extend .text-muted;

  padding-bottom: 20px;

  .bottom {
    a {
      color: $gray-light;

      &:hover {
        color: $gray-light;
      }
    }
  }
}
