<!DOCTYPE html>
<html>
<head>
  <title>Otvorené Súdy &middot; Dáta a API</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600,300italic,400italic,600italic,700italic,800italic,800&subset=latin,greek,greek-ext,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  Copyright 2015 &middot; <a href="https://github.com/otvorenesudy/otvorenesudy-api" target="_blank">otvorenesudy-api</a>
</footer>

</body>
</html>
